.label_titulo {
    -fx-text-fill: #787274;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian, rgba(0, 0, 0, 0.5), 0, 0, 0, 1 );
}

.label_subtitulo {
    -fx-text-fill: #a2a29d;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian, rgba(0, 0, 0, 0.5), 0, 0, 0, 1 );
}

.jfx-btn-enviar {
    -fx-background-color: #191c70;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: contain;
    -fx-background-radius: 50;
    -fx-background-size: 35;
    -fx-background-image : url(iconos/enviar2.png);
}
.jfx-btn-enviar:hover {
    -fx-background-color: #20B0BD;
}

.jfx-texto-mensajes {
    -fx-background-color: #2b2191;
}

/*Test del css para que se modifique a tipo de chat no validar aun*/

.root{
    -fx-background-color: linear-gradient(to top, #4166d4, #41b8c4);
}

#vBoxContContactos {
    -fx-background-color: rgba(32, 29, 30,0.8);
}
#vBoxChat {

    -fx-background-color: rgba(0,0,0,0.3);
}

.textFlow{
    -fx-background-color: linear-gradient(to left, #7969d3, #799fd3);
    -fx-background-insets: -5 -10 -5 -5;
    -fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.08),2,1.0,0.5,0.5);
    -fx-shape: "M 94.658379,129.18587 H 46.277427 c -3.545458,0.23354 -5.32763,-1.59167 -5.14193,-4.67449
    v -19.39913 c 0.405797,-3.73565 2.470637,-4.56641 5.14193,-4.90821 h 43.706464 c 2.572701,0.2361 4.604321,
    1.68288 4.674488,4.90821 v 19.39913 c 0.436089,3.14572 2.890695,3.57304 4.908212,4.67449 z";
}

.textFlowFlipped{
    -fx-background-color: linear-gradient(to left, #2b2ecc, #2b2191);
    -fx-background-insets: -5 -5 -5 -10;
    -fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.08),2,1.0,-0.5,-0.5);
    -fx-shape: "m 46.030545,129.18592 h 48.380952 c 3.54546,0.23355 5.32763,-1.59167 5.14193,-4.67449
    V 105.1123 c -0.4058,-3.73565 -2.47064,-4.56641 -5.14193,-4.90821 H 50.705033
    c -2.572701,0.2361 -4.604321,1.68288 -4.674488,4.90821 v 19.39913
    c -0.436089,3.14572 -2.890695,3.57304 -4.908212,4.67449 z";
}

.tempFlow{
    -fx-padding: 5 15 5 5;
}

.tempFlowFlipped{
    -fx-padding: 5 5 5 15;
}

.hbox{
    -fx-background-insets: 15;
    -fx-padding: 12px;
}

.imageView{
    /*-fx-stroke: red;*/
    /*-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.6) , 1, 1, 0, 0);*/
    -fx-background-radius: 50%;
    -fx-padding: 3;
}

.text-field-mensaje {
    -fx-background-color: transparent, white, transparent,white;
    -fx-text-fill: #000000;
    -fx-prompt-text-fill: #515151;
    -fx-text-box-border: transparent;
    -fx-background-insets: 0, 6, 0;
    -fx-background-radius: 8em;
    -fx-padding: 8;
    -fx-font-size: 14px;
}
/*
#txtMsg{
    -fx-padding: 0 19;
    -fx-background-color: transparent, white, transparent,white;
    -fx-background-insets: 0, 6, 0;
    -fx-background-radius: 8em;
}*/
#text-field-mensaje .scroll-pane{
    -fx-background-color: transparent;
}
#text-field-mensaje .scroll-pane >.viewport , #text-field-mensaje >.viewport{
    -fx-background-color: transparent;
}

#text-field-mensaje .scroll-pane .scroll-bar:vertical, #text-field-mensaje .scroll-bar:vertical{
    -fx-background-color:inherit;
}

#text-field-mensaje .scroll-pane .scroll-bar:vertical .track{
    -fx-background-color:transparent;
    -fx-border-color:transparent;
    -fx-background-radius: 0em;

}
#text-field-mensaje .scroll-pane .scroll-bar:vertical .increment-button,
#text-field-mensaje .scroll-pane .scroll-bar:vertical .decrement-button{
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 0 10 0;

}

#text-field-mensaje .scroll-pane  .scroll-bar .increment-arrow,
#text-field-mensaje .scroll-pane  .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding:0;
}
#text-field-mensaje .scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color:transparent;
}


.mensaje{
    -fx-font-size: 14px;
    -fx-font-weight: 300;
}

.text-area .content {
    -fx-background-color: transparent, white, transparent, white;
    -fx-text-alignment: center;
}

.text-area:focused .content {
    -fx-background-color: transparent, white, transparent, white;
}

.txtNombre{
    -fx-fill: black;
    -fx-font-size: 10px;
}
/*
#vboxIni {
    -fx-shape: "M0 0 L 10 0 L 0 10 Z";
    -fx-background-color: linear-gradient(to left, #4776e6, #8e54e9);
    -fx-effect: dropshadow(gaussian,rgba(23,32,56,0.7), 2, 1, 1, 0);
} */

#scrollContactos {
    -fx-background-color: transparent;
}
#scrollContactos >.viewport{
    -fx-background-color: transparent;
}

#scrollContactos .scroll-bar:vertical{
    -fx-background-color:inherit;

}

#scrollContactos .scroll-bar:vertical .track{
    -fx-background-color:transparent;
    -fx-border-color:transparent;
    -fx-background-radius: 0em;

}
#scrollContactos .scroll-bar:vertical .increment-button,
#scrollContactos .scroll-bar:vertical .decrement-button{
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 0 10 0;

}

#scrollContactos  .scroll-bar .increment-arrow,
#scrollContactos  .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding:0;
}
#scrollContactos .scroll-bar:vertical .thumb {
    -fx-background-color:transparent;

}
#scrollContactos:hover .scroll-bar:vertical .thumb{
    -fx-background-color:rgba(0,0,0,0.6);
    -fx-background-insets: 4, 0, 0;
    -fx-background-radius: 2em;
}


#vBoxContactos {
    -fx-background-color: transparent;
}

#scrollChat{
    -fx-background-color: transparent;
}
#scrollChat >.viewport{
    -fx-background-color: transparent;
}

#scrollChat .scroll-bar:vertical{
    -fx-background-color:inherit;

}

#scrollChat .scroll-bar:vertical .track{
    -fx-background-color:transparent;
    -fx-border-color:transparent;
    -fx-background-radius: 0em;

}
#scrollChat .scroll-bar:vertical .increment-button,
#scrollChat .scroll-bar:vertical .decrement-button{
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 0 10 0;

}

#scrollChat  .scroll-bar .increment-arrow,
#scrollChat  .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding:0;
}
#scrollChat .scroll-bar:vertical .thumb {
    -fx-background-color:transparent;

}
#scrollChat:hover .scroll-bar:vertical .thumb{
    -fx-background-color:rgba(0,0,0,0.6);
    -fx-background-insets: 4, 0, 0;
    -fx-background-radius: 2em;
}

.chatVBox{
    -fx-padding: 20px;
    -fx-background-insets: -25px;
}

.jfx-btn-enviar {
    -fx-background-color: #191c70;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: contain;
    -fx-background-radius: 50;
    -fx-background-size: 35;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5) , 0.5, 0.5, 2, 2);
    -fx-background-image : url(iconos/enviar2.png);
}

.online-label , .online-ajustes{
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.online-ajustes:hover{
    -fx-font-size: 18px;
    -fx-cursor: hand;
}

.online-label-details{
    -fx-text-fill: lightgray;
    -fx-font-size: 12px;
}
.online-user-container{
    -fx-background-color: inherit;
}
.online-user-container:hover{

    -fx-border-color: linear-gradient(to left,rgba(255,255,255,0),rgba(255,255,255,0.8)) transparent
    linear-gradient(to right,rgba(255,255,255,0),rgba(255,255,255,0.8)) transparent;
    -fx-border-width: 2;
}
.online-user-container:hover .circle{
    -fx-effect: dropshadow(three-pass-box, red, 2, 2, 0, 0);
}